.messages{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #aec6cf;
    border: 20px solid #aec6cf;
    border-radius: 10px;
    margin-left: 60%;
    margin-right: 1em;
    margin-top: 1em;
    align-content: space-around;
}

.message{
    background-color: #D8E4E8;
    border: 20px solid #D8E4E8;
    border-radius: 10px;
    margin: 1em;
}

.userInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60%;
    margin-right: 1em;
    padding : 1em;
}